<IfModule mod_mime.c>
    AddType text/css .css
    AddType application/javascript .js
</IfModule>
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^assets/(.*)$ public/assets/$1 [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
